<div class="container text-center">

  <div class="inputs row justify-content-around" id="opciones">

    <input class="col-5" type="text" [(ngModel)]="productoBuscar" (ngModelChange)="buscarProductoNombre(productoBuscar)"
      placeholder="Buscar producto" />

    <select class="col-3" [(ngModel)]="categoriaBuscar" (ngModelChange)="buscarProductosCategoria(categoriaBuscar)">
      <option value="">Todas las categorías</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>

    <button class="col-1" (click)="ordenarMayorMenor()">Mayor precio</button>
    <button class="col-1" (click)="ordenarMenorMayor()">Menor precio</button>

  </div>

  <div class="row justify-content-evenly">

    <input id="menuDesplegable" class="col-5" type="text" [(ngModel)]="productoBuscar"
      (ngModelChange)="buscarProductoNombre(productoBuscar)" (keydown.enter)="realizarBusqueda()" placeholder="Buscar producto" />

    <div class="hamburger col-4" #hamburger (click)="toggleNav()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>

  </div>

  <div class="row" style="padding-top: 1%;">

    <!--
    <div class="col">
      <ul *ngIf="productosObtenidos1 instanceof Array && productosObtenidos1.length > 0">
        <li *ngFor="let producto of productosObtenidos1">
          <span (click)="enviarIdProductoSeleccionado(producto.id_Producto)">
            {{producto.id_Producto}}
            {{ producto.Nombre }}
            $ {{ producto.Precio }}
          </span>
        </li>
      </ul>

      <p *ngIf="productosObtenidos1.length == 0 ">No se pudieron obtener los productos. Intente de nuevo más tarde.</p>
    </div>
    -->

    <p-carousel [value]="productosObtenidos1" styleClass="custom-carousel" [autoplayInterval]="3000" [circular]="true" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
          <h5>Vertical</h5>
      </ng-template>
      <ng-template let-producto pTemplate="item">
        <div class="product-item">
          {{producto.producto_nombre}}
        </div>
      </ng-template>

  </p-carousel>

  </div>

</div>

<div class="menubar" #menubar>
  <div class="container text-center">

    <div class="inputs_responsive row">
      <select [(ngModel)]="categoriaBuscar" (ngModelChange)="buscarProductosCategoria(categoriaBuscar)">
        <option value="">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>
      <div class="w-100"></div>
      <button class="col-1" (click)="ordenarMayorMenor()">Mayor precio</button>
      <div class="w-100"></div>
      <button class="col-1" (click)="ordenarMenorMayor()">Menor precio</button>

    </div>

  </div>
</div>
