<div class="container" [ngClass]="{ 'flipped': isFlipped }">
	<button class="toggle-btn" (click)="toggleFlip()">Girar</button>
  
	<main class="form-section">
	  <section class="input-group mb-3">
		<span class="input-group-text" >Nombre</span>
		<input id="nombreProductoInput" type="text" class="form-control" [(ngModel)]="informacionInventario.inventario_ProductoID.producto_Nombre" name="nombre" />
	  </section>
  
	  <section class="input-group mb-3">
		<span class="input-group-text">Categoría</span>
		<select id="categoriaProductoInput" class="form-control" [(ngModel)]="informacionInventario.inventario_ProductoID.producto_Categoria" name="categoria">
		  <option *ngFor="let categoria of categoriaProductos" [value]="categoria">{{ categoria }}</option>
		</select>
	  </section>
	    
	  <section class="input-group mb-3">
		<span class="input-group-text">Precio</span>
		<span class="input-group-text">$</span>
		<input id="precioProductoInput" type="number" class="form-control" [(ngModel)]="informacionInventario.inventario_ProductoID.producto_Precio" name="precio" />
	  </section>
  
	  <section class="mb-3">
		<input class="form-control form-control-sm" id="imagenProducto" type="file" (change)="almacenarImagen($event)"
		  name="imagen" />
	  </section>
  
	  <section>
		<button id="botonActualizar" type="button" (click)="ActualizarProducto()">Actualizar</button>
		<button id="botonEliminar" *ngIf="informacionInventario.inventario_ProductoID.producto_Status != 'INACTIVO' " style="margin-left: 2%;" type="button" (click)="EliminarProducto()">Eliminar</button>
		<button id="botonActivar" *ngIf="informacionInventario.inventario_ProductoID.producto_Status == 'INACTIVO' " style="margin-left: 2%;" type="button" (click)="ActivarProducto()">Activar</button>
	  </section>
  
	</main>
  
	<main class="card-section">
	  <div class="card">
		<div class="card-img-holder">
		  <img [src]="informacionInventario.inventario_ProductoID.producto_ImagenURL" alt="Imagen Producto">
		</div>
		<h3 class="blog-title" id="nombreProducto"> {{informacionInventario.inventario_ProductoID.producto_Nombre}} </h3>
		<span class="blog-time" id="nombreProveedor"> {{informacionInventario.inventario_ProductoID.producto_ProveedorID.proveedor_Nombre}} </span>
		<p class="description" id="descripcionProducto">
		  El producto pertenece a la categoría {{informacionInventario.inventario_ProductoID.producto_Categoria}} y tiene un
		  precio de ${{informacionInventario.inventario_ProductoID.producto_Precio}}.
		</p>
		<div class="options">
		  <span id="cantidadInventario">
			Cantidad {{informacionInventario.inventario_Cantidad}}
		  </span>
		  <span id="statusActivo" *ngIf="informacionInventario.inventario_ProductoID.producto_Status != 'INACTIVO' " >
			Status {{informacionInventario.inventario_Status}}
		  </span>
		  <span id="statusInactivo" *ngIf="informacionInventario.inventario_ProductoID.producto_Status == 'INACTIVO' " >Producto Inactivo</span>
		</div>
	  </div>
  
	</main>
  </div>
  