<body class="contenedor">


  <main class="cajaMenu">
    <header class="imagen_contorno">
      <img src="assets/image/Logo.jpg" alt="">
    </header>

    <article class="datos_contorno">

      <div class="datos">
        <label for=""> Correo Electronico </label>
        <input class="form-control" id="txt-input" type="email" placeholder="@UsuarioDemo: admin@hotmail.com"
        [value]="correoUsuario" (input)="almacenarUsuario($event)" required />
      </div>

      <div class="datos">
        <label for=""> Contraseña </label>
        <input class="form-control" type="password" id="pwd" name="password" placeholder="@ContraseñaDemo: demo"
        [value]="contrasenaUsuario" (input)="almacenarContrasena($event)" required />
      </div>

    </article>

    <footer class="footer">

      <section class="boton_IniciarSesion">
        <button (click)="iniciarSesion()"> Iniciar Sesion </button>
      </section>

      <section class="informacion_Registro">
        <a href="crearCuenta"> Registrarse </a>
      </section>

    </footer>


  </main>


</body>
