<div class="card">

	<section *ngFor="let carrito of carritoCompras">
		<p-dataView #dv [value]="carrito.productos" [paginator]="false" [rows]="9" filterBy="name" layout="list">

			<ng-template pTemplate="header">
				<div class="flex flex-column md:flex-row md:justify-content-between">
					{{carrito.proveedor}}
				</div>
			</ng-template>

			<ng-template let-product pTemplate="listItem">


				<div class="p-col-12">
					<div class="product-list-item">
						<img src="{{product.imagen}}" [alt]="product.producto" />
						<div class="product-list-detail">
							<div class="product-name">{{product.producto}}</div>
						</div>
						<div class="product-list-action" class="imagen">
							<img src="assets/basura.png" #botonEliminarProducto alt=""
								(click)="eliminar_VentaProducto(product)" style="width: 15%;">
							<input class="inputCantidad" type="number" [(ngModel)]="product.cantidad" min="1">
						</div>
					</div>

				</div>

			</ng-template>

		</p-dataView>

	</section>

	<section>
		<button class="form-control" style="margin-top: 2%;" (click)="generarOrdenCompra()">
			Generar orden de compra
		</button>
	</section>

</div>