<body>
  <nav class="nav">
    <div class="logo">
      <img src="https://firebasestorage.googleapis.com/v0/b/novedades-68953.appspot.com/o/klipartz.com.png?alt=media&token=09a6747a-e545-4222-840b-8879c97b65b2" alt="logo" />
      <h1>Novedades y Hogar</h1>
    </div>
    <ul>
      <li>
        <a href="#">Proveedores</a>
      </li>
      <li>
        <a href="#">Productos</a>
      </li>
      <li>
        <a href="#">Historial Compra</a>
      </li>
      <li>
        <a href="#">Hisotrial</a>
      </li>
    </ul>
    <div class="hamburger" #hamburger (click)="toggleNav()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>

  <div class="menubar" #menubar>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</body>
