<main>
  <section>
    <div></div>

    <div>
      <h3 id="Titulo_Formulario">Crear Cuenta</h3>

      <div class="form-group">
        <div class="form-wrapper" style="position: relative">
          <i class="fa fa-key"></i>
        </div>
        <input class="form-control" type="text" placeholder="Nombre" [value]="objeto_Cuenta.Nombre"
          (input)="almacenarNombre($event)" required />
      </div>

      <div class="form-group">
        <div class="form-wrapper" style="position: relative">
          <i class="fa fa-key"></i>
        </div>
        <input class="form-control" type="text" placeholder="Apellidos" [value]="objeto_Cuenta.Apellidos"
          (input)="almacenarApellidos($event)" required />
      </div>

      <div class="form-group">
        <div class="form-wrapper" style="position: relative">
          <i class="fa fa-key"></i>
        </div>
        <input class="form-control" type="email" placeholder="Correo"
          [value]="objeto_Cuenta.Correo_electronico" (input)="almacenarCorreo($event)" required />
      </div>

      <div class="form-group">
        <div class="form-wrapper" style="position: relative">
          <i class="fa fa-key"></i>
        </div>
        <input class="form-control" type="password" placeholder="Contraseña"
          [value]="objeto_Cuenta.Contrasena" (input)="almacenarContrasena($event)" required />
      </div>

      <div class="form-group">
        <div class="form-wrapper" style="position: relative">
          <i class="fa fa-key"></i>
        </div>
        <select [(ngModel)]="objeto_Cuenta.cuenta_rol">
          <option value="" disabled selected>Rol Cuenta</option>
          <option *ngFor="let rol of tiposRol" [value]="rol"> {{rol}} </option>
        </select>
      </div>

      <button class="log-in" (click)="crearCuenta()" id="btnIniciarSesion">
        Crear Cuenta
      </button>


    </div>
  </section>
</main>
